* {color: #ffffff;} /* Default all text to white */
body {background-color: #000000; -khtml-user-select:none;}
#header {
	height: 7%;
	width: 100%;
	text-align: center;
	font-size:22px;
}
div.object
{
  float: left;
  background-color:#000000;
  width: 25%;
  height: 31%;
}
div.object object
{
  width: 96px;
  height: 96px;
  padding-left: 20%;
  padding-top: 5%;
}	
div.desc
{
  text-align: center;
  font-size: 16px;
  width: auto;
  height: auto;
  background-color:#000000;
}
