A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 11px/1.5 verdana,arial,sans-serif; COLOR: #000; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff
}
TABLE {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; FONT-FAMILY: verdana,arial,sans-serif
}
TD {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; FONT-FAMILY: verdana,arial,sans-serif
}
A:link {
	COLOR: #00235d; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #4e4e6e; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
INPUT {
	FONT-SIZE: 9px
}
SELECT {
	FONT-SIZE: 9px
}
INPUT {
	VERTICAL-ALIGN: top
}
.unb {
	BACKGROUND: #e6e6e6; MARGIN-BOTTOM: 2px; WIDTH: 100%; BORDER-BOTTOM: #777 1px solid; HEIGHT: 21px
}
H2 {
	MARGIN: 10px 0px; COLOR: #000
}
H3 {
	MARGIN: 10px 0px; COLOR: #000
}
H2 {
	FONT-SIZE: 17px; BORDER-BOTTOM: #666 1px dotted
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.heading {
	MARGIN: 30px 0px 5px
}
.bullets UL {
	PADDING-TOP: 5px
}
.bullets LI {
	LIST-STYLE-IMAGE: url(/images/misc/bullet_orange.gif)
}
.graybox {
	PADDING-RIGHT: 10px; BORDER-TOP: #666 1px dotted; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px 0px; PADDING-TOP: 10px; BORDER-BOTTOM: #666 1px dotted; BACKGROUND-COLOR: #eee
}
.buttons {
	RIGHT: 0px; POSITION: absolute; TOP: 0px
}
.cleangrid {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
.cleangrid TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 15px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 3px; BORDER-RIGHT-WIDTH: 0px
}
.label {
	PADDING-RIGHT: 5px; PADDING-LEFT: 15px; BACKGROUND: #ccc; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.label TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 15px; BACKGROUND: #ccc; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.headergraphics {
	BACKGROUND-IMAGE: url(/images/misc/square.gif); BACKGROUND-REPEAT: repeat; HEIGHT: 59px
}
.redline {
	BACKGROUND: #9f160e
}
.graybar {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #e6e6e6; COLOR: #333; POSITION: relative; HEIGHT: 25px
}
.topnav {
	LEFT: 15px; POSITION: absolute; TOP: 5px
}
.topnav A:link {
	COLOR: #333; TEXT-DECORATION: none
}
.topnav A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
.topnav A:hover {
	TEXT-DECORATION: underline
}
.graphicdev2dev {
	LEFT: 0px; POSITION: absolute; TOP: 23px
}
.graphicbea {
	LEFT: 596px; POSITION: absolute; TOP: 23px
}
.slogan {
	LEFT: 8px; POSITION: absolute; TOP: 8px
}
.searchbox {
	RIGHT: 10px; POSITION: absolute; TOP: 2px
}
.twodots {
	BACKGROUND-IMAGE: url(/images/misc/twodots.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 3px
}
.title_line {
	MARGIN-TOP: 3px; BACKGROUND-IMAGE: url(/images/misc/title_line.gif); MARGIN-BOTTOM: 10px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 4px
}
.rule {
	MARGIN-TOP: 1px; BACKGROUND-IMAGE: url(/images/misc/dotted_line.gif); MARGIN-BOTTOM: 10px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 1px
}
.unb {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse
}
.headergraphics {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse
}
.redline {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse
}
.topnav {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse
}
.twodots {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse
}
.bottomdots {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/images/misc/twodots.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #9f160e 3px solid; BACKGROUND-REPEAT: repeat; HEIGHT: 3px
}
#footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 50px 0px 0px; WIDTH: 100%; COLOR: #666; LINE-HEIGHT: 2; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.footertext {
	FONT-SIZE: 10px; COLOR: #818181; TEXT-ALIGN: center
}
.footertext A:link {
	FONT-SIZE: 10px; COLOR: #818181; TEXT-ALIGN: center
}
.footertext A:visited {
	FONT-SIZE: 10px; COLOR: #818181; TEXT-ALIGN: center
}
P {
	MARGIN: 10px 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 25px; PADDING-TOP: 0px
}
#colLeft {
	PADDING-LEFT: 15px; WIDTH: 363px; TEXT-ALIGN: left
}
#colRight {
	PADDING-LEFT: 25px; WIDTH: 363px; TEXT-ALIGN: left
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#summary {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 15px; BORDER-LEFT: #fff 1px solid; WIDTH: 750px; BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; TOP: 0px; TEXT-ALIGN: left
}
#content #summary {
	MARGIN: 5px 0px 0px
}
#content {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 15px; BORDER-LEFT: #fff 1px solid; WIDTH: 750px; BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; TOP: 0px; TEXT-ALIGN: left
}
#searchresults {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 15px; BORDER-LEFT: #fff 1px solid; BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; FONT-FAMILY: Verdana, Arial, sans-serif; TOP: 0px; TEXT-ALIGN: left
}
.breadcrumb {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; MARGIN: 10px 0px 0px; BORDER-LEFT: #fff 1px solid; COLOR: #666; BOTTOM: 0px; PADDING-TOP: 10px; BORDER-BOTTOM: #fff 1px solid; TOP: 0px; TEXT-ALIGN: left
}
.footertext {
	FONT-SIZE: 10px; COLOR: #818181
}
.footertext A:link {
	FONT-SIZE: 10px; COLOR: #818181
}
.footertext A:visited {
	FONT-SIZE: 10px; COLOR: #818181
}
DIV .footertext {
	MARGIN-BOTTOM: 3px
}
.notice {
	BORDER-RIGHT: #666 1px dashed; PADDING-RIGHT: 8px; BORDER-TOP: #666 1px dashed; MARGIN-TOP: 20px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #666 1px dashed; PADDING-TOP: 8px; BORDER-BOTTOM: #666 1px dashed; BACKGROUND-COLOR: #e6e6e6
}
.cdcontents {
	MARGIN-TOP: 10px
}
.cdcontents LI {
	LIST-STYLE-TYPE: none
}
.cdcontents LI {
	MARGIN: 10px 0px 0px
}
.hide {
	DISPLAY: none
}
.wrap {
	MARGIN: 0px; WIDTH: 750px; POSITION: relative
}
.wrap_ln {
	MARGIN-LEFT: 180px; WIDTH: 600px; POSITION: relative
}
.oneCol {
	WIDTH: 600px; TOP: 0px; TEXT-ALIGN: left
}
.left_nav_list {
	PADDING-RIGHT: 2px; BORDER-TOP: #d3d3d3 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #ededed
}
.col_left {
	PADDING-LEFT: 20px; MARGIN: 0px 20px; WIDTH: 380px
}
.col_right {
	PADDING-LEFT: 20px; MARGIN: 0px 20px; WIDTH: 245px
}
.box_gray {
	BORDER-RIGHT: #d3d3d3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d3d3d3 1px solid; PADDING-LEFT: 5px; MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #d3d3d3 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #d3d3d3 1px solid
}
.box_white {
	BORDER-RIGHT: #d3d3d3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d3d3d3 1px solid; PADDING-LEFT: 5px; MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #d3d3d3 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #d3d3d3 1px solid
}
.icon {
	PADDING-RIGHT: 2px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 4px
}
.title {
	MARGIN-BOTTOM: 3px
}
.box_gray {
	BACKGROUND-COLOR: #ededed
}
.leftnav {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 160px; PADDING-TOP: 71px
}
.leftnav_title {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/images/misc/title_dots.gif); MARGIN-BOTTOM: 3px; PADDING-TOP: 7px; BACKGROUND-REPEAT: repeat-x
}
.leftnav_list {
	
}
.leftnav_list LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(/images/misc/bullet_orange.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.twocol {
	WIDTH: 363px
}
.twocol TD {
	WIDTH: 181px
}
.threecol TD {
	WIDTH: 33%
}
.thumb {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; MARGIN-BOTTOM: 5px; BORDER-LEFT: #999 1px solid; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #999 1px solid
}
.pullquote {
	PADDING-RIGHT: 8px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FLOAT: right; PADDING-BOTTOM: 8px; MARGIN: 5px 0px 5px 5px; WIDTH: 170px; COLOR: #666; PADDING-TOP: 8px; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #eee
}
.small {
	FONT-SIZE: 10px
}
#navLeft {
	FLOAT: left; WIDTH: 160px
}
#contentRight {
	MARGIN: 0px 0px 0px 180px; WIDTH: 560px
}
.keywordhighlight {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #fff; background-layer: $fff
}
.l {
	FONT-SIZE: 11px
}
