<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
      name="XDAIS 6.26.01.03 Help"
      id="com.xdais_6_26_01_03"
      version="6.26.01.03"
      provider-name="Texas Instruments">

   <extension point="org.eclipse.help.toc">
      <toc file="toc_top.xml" primary="true"/>
      <toc file="eclipse_toc.xml"/>
   </extension>

   <extension point="org.eclipse.help.contentProducer">
      <contentProducer>
         <producer class="org.eclipse.rtsc.xdctools.ui.help.HelpContentProducer">
         </producer>
      </contentProducer>
   </extension>

   <extension
         point="org.eclipse.rtsc.xdctools.ui.productInfo">
      <repository
            location="../../../packages">
      </repository>
      <repository
            location="../../../examples">
      </repository>
      <docs location="../../../docs"/>
      <docs location="../../../xdoc"/>
      <docs location="../../.." />
      <info
            installLocation="../../../"
            productName="XDAIS"
	    versionNumber="6.26.01.03">
       </info>
    </extension>

   <extension point="org.eclipse.ui.actionSets">
        <actionSet
            label="XDAIS Tools"
            description="XDAIS Tools"
            visible="true"
            id="org.eclipse.rtsc.xdaistools.ui.actionSet">
            <menu
                id="com.ti.dvt.tools.menu"
                label="&amp;Tools">
                <groupMarker name="additions"/>
            </menu>
            <menu label="XDAIS Tools"
                path="com.ti.dvt.tools.menu/additions" 
                id="org.eclipse.rtsc.xdaistools.ui.menu">
                <separator name="XDAISGroup"/>
            </menu>
		
            <action
                id="ti.xdais.wizards.genalg"
                label="&amp;GenAlg"
                class="org.eclipse.rtsc.xdctools.sg.WorkBenchDelegate"
                style="push"
                menubarPath="com.ti.dvt.tools.menu/org.eclipse.rtsc.xdaistools.ui.menu/XDAISGroup"/>
			
            <action
                id="ti.xdais.qualiti"
                label="&amp;QualiTI"
                class="org.eclipse.rtsc.xdctools.sg.WorkBenchDelegate"
                style="push"
                menubarPath="com.ti.dvt.tools.menu/org.eclipse.rtsc.xdaistools.ui.menu/XDAISGroup"/>
        </actionSet>
    </extension>   

</plugin>

